<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button class="btn btn-outline-success"
        (click)="back()">Back</button>
        Create Product
      </h4>
      <hr>
    </div>
    <div class="col-mid-12">
      <form (ngSubmit)="save()" [formGroup]="productGroup" novalidate>
        <div class="form-group">
          <label class="center-block">Name:
            <input class="form-control" formControlName="productName">
          </label>
          <br>
          <br>
          <label class="center-block">Color:
            <input class="form-control" formControlName="productColor">
          </label>
          <br>
          <br>
          <label class="center-block">Price:
            <input class="form-control" formControlName="productPrice">
          </label>
          <br>
          <br>
          <button type="submit" class="btn btn-outline-info">
            Save</button>
        </div>
      </form>
      <div *ngIf="error">{{error.message}}</div>
      <div *ngIf="saved">product successfully saved</div>
    </div>
  </div>
</div>
