<div class="flex-container">
  <div class="flex-child">

    <h1>Products
      <div class="pull-right">
        <button class="btn btn-outline-success" (click)="createProduct()">
         Add New +
        </button>
      </div>
    </h1>
    <p id="description">click a product to see the details</p>

    <!--label for="items-input">items per page: </--label>
    <input id="items-input" type="number" min="1" max="5" [(ngModel)]="items"-->

    <ul *ngIf="products$ | async as products else loading">
      <li *ngFor="let product of products" (click)="getById(product.id)">
        {{product.name}}
      </li>
    </ul>

    <button class="load-more-btn" (click)="loadMore()">load more</button>
  </div>

  <div class="flex-child">
    <div class = "details" *ngIf="selectedProduct$ | async as selectedProduct">
      <div class="details-child">
        <img class="img" src="https://p.kindpng.com/picc/s/486-4862572_share-pixel-gun-conceptions-here-free-lego-brick.png">
      </div>
      <div class="details-child">
        <h4>{{selectedProduct.name | uppercase}}</h4>
        <p>Id: {{selectedProduct.id}}</p>
        <p>Color: {{selectedProduct.color}}</p>
        <p>Price: {{selectedProduct.price}}$</p>
      </div>
      <div class="Delete">
        <button type="button" (click)="deleteProduct(selectedProduct.id)">Delete</button>
        </div>
      <p id="hide-text" (click)="hideDetails()">click here to hide the details</p>
    </div>
  </div>

</div>

<ng-template #loading>loading...</ng-template>

