.flex-container {
  display: flex;
  margin-left: 50px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

ul {
  cursor: pointer;
  width: 150px;
}

li {
  padding: 3px;
}

li:hover {
  color: cadetblue;
}

li .selected {
  font-weight: bolder;
}

#description {
  color: black;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.details {
  margin-top: 40px;
}

.details p{
  padding-bottom: 1px;
  margin-bottom: 0;
}

.img {
  width: 150px;
  height: 150px;
}

.details-child {
  display: inline-block;
  padding: 15px;
}

#hide-text {
  color: dimgray;
  cursor: pointer;
  margin-left: 15px;
}

.load-more-btn {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
}

